* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e3d3d7;
  --secondary-color: #b86b77;
  --secondary-dark-color: #b86b77c7;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navigation section */

/* Head section */

/* About section */
